rclpy==3.3.19
launch==1.0.13
launch_ros==0.19.13
action_msgs==1.2.2
nav2_msgs==1.1.20
geometry_msgs==4.9.0
nav_msgs==4.9.0
sensor_msgs==4.9.0
std_msgs==4.9.0
cv_bridge==3.2.1
utm==0.8.1
numpy==1.23.0
opencv-python==4.11.0.86
ultralytics==8.3.218
pynput==1.8.1
PyYAML==5.4.1
torch==2.9.0
torchvision==0.24.0
